
  <%= image_tag("LoW_logo.jpg", class: "jumbotron") %>



<div class="container">

      <h1 class="custom-header"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>  We are Oakville's premier hobby destination!</h1>

      <div class="row">

        <!-- STORE INFO -->
        <div class="panel custom-panel col-md-10">
          <div class="panel-heading">
            <h1 class="week-day">Store Info</h1>
          </div>

          <div class="panel-body">
            <p>Come check out our awesome selection of Age Of Sigmar, Warhammer 40k, Dropzone Commander, Flames of War, Infinity, Malifaux, Batman Miniatures Game, Frostgrave, Team Yankee, Board Games, Magic: The Gathering and tons of essential hobby supplies. You're going to want to come out for gaming nights and events when you see the awesome terrain on our tables in store!</p>
            <p>As our customer, you will receive the BEST customer service. Our operators/owners have a combined work experience in hobby stores of 12 years, and over 35 years of combined hobby experience! We offer free help to our customers with building, painting and learning all of our games.</p>
            <h3><%= link_to "Check us out on Facebook!", "https://www.facebook.com/lordsofwargamesandhobbies/?fref=ts" %></h3>
          </div>
        </div>



    <!-- NEWS FEED -->
    <div class="panel custom-panel col-md-10">
      <div class="panel-heading">
        <h1 class="week-day">News Feed</h1>
      </div>
    <% @contents.reverse_each do |content| %>
      <div class="custom-content">
        <div class="panel-heading">
          <h1 class="content-header"><%= content.title %></h1>
        </div>
        <%= image_tag content.image, class: "custom-image" %>
        <div class="panel-body custom-content">
          <p><%= content.content %></p>
        </div>
        <h3 class="closer-look"><%= link_to "Closer Look", content_path(content) %></h3>
      </div>

    <% end %>
  </div>




    <!-- ADMIN PANEL -->
    <% if current_user %>
      <div class="admin-panel col-md-6">
          <h1>AdminPanel</h1>
          <%= link_to "Add Content", new_content_path, class: "btn btn-default btn-primary" %>
      </div>
    <% end %>


  </div> <!-- end of row -->

</div>
