<div class="container">
  <div class="row">
    <h1 class="custom-header">Add Content</h1>

    <%= form_for @content do |f| %>
      <div class="panel custom-panel">
        <div class="panel-heading">
          <h1><%= f.label :title %></h1>
          <h1><%= f.text_field :title %></h1>
        </div>

        <div class="panel-body">
          <h1><%= f.label :content %></h1>
          <%= f.text_area :content, class: "col-md-12 custom-text-area" %>
        </div>

        <div class="panel-heading">
          <h1><%= f.label :url %></h1>
          <%= f.text_field :url %>
        </div>

        <div class="panel-body">
          <%= f.submit "Submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
