<div class="container">


  <h1><%= @content.title %></h1>
  <div><%= image_tag @content.image %></div>
  <div>
    <%= @content.content %>
  </div>
  <div>
    <%= @content.url %>
  </div>

  <% if current_user %>
    <div class="admin-panel">
      <%= link_to "delete content", content_path(@content), method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  <% end %>

</div>
