<div class="container">

  <h1 class="custom-header"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>  What we carry </h1>

  <% @product.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="custom-box thumbnail">
        <%= image_tag product.picture, class: "img-custom" %>
        <div class="caption">
          <h3><%= product.name %></h3>
          <p><%= product.info %></p>
          <h3><%= link_to "Product Home Page", "product.website" %></h3>
          <h2><%= link_to "closer look", product_path(product) %></h2>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user %>
    <div class="admin-panel">
      <%= link_to "Add Product", new_product_path, class: "btn btn-default btn-primary" %>
    </div>
  <% end %>

</div>
