<!DOCTYPE html>
<html>
  <head>
    <title>LordsOfWarApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <%= render 'shared/navbar.html.erb' %>


    <%= yield %>


    <!-- <footer class="custom-footer">
      <div class="container">
          <p class="text-muted">&copy; Lords of War - Games and Hobbies || 2016 || Site by Alex Slye || <%= link_to "Admin", new_session_path %></p>
      </div>
    </footer> -->

  </body>
</html>
